
body{
	margin: 0px;
}
.bottom-line{
	background:rgba(0,116,255,1);
	box-shadow:0px 2px 6px 0px rgba(0,116,255,0.5);
	width:32px;
	height:4px;
	margin-left: 40px;
	display: none;
	margin-top: 3px;
}

.public-head-nav{
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	top: 0;
}

.public-head-m{
	width: 1200px;
	margin: 0px auto;
	height: 100%;
}


.public-head-bottom{
	height: 80px;
	background-color: #24292e;
	
}
.public-head-bottom-logo{
	width: 256px;
	height: 40px;
	
	background-size: cover;
	display: inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: center;
	margin-top: 20px;
	float: left;
}


.nav-title{
	color: #fff !important;
	white-space: nowrap;
}

.active a{
	color: #169ce3;
}
.public-head-bottom-li-div{
	width: 17px;
	height: 3px;
	margin: 0px auto;
	background-color: #169ce3;
}
.public-head-nav-content{
	display: inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
	float: right;
	vertical-align:text-top;
	height: 100%;
}
.public-head-nav-item{
	display: inline-block;
	*display:inline;
	*zoom:1;
	width: 110px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 20px;
}
.public-head-nav-item-o{
	display: inline-block;
	*display:inline;
	*zoom:1;
	width: 110px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	margin-top: 40px;
}
.public-head-nav-item a{
	cursor: pointer;
	color: #333;
	font-size: 16px;
	text-decoration:none !important;
}

.public-head-nav-item a:hover{
	color: #0074FFFF;
}



.public-head-bottom-m{
	position: relative;
	z-index: 20;

}


.flvContainer {
  width:100%;
  height: 820px;
  text-align: center;
  background: rgba(245, 245, 245, 1);
}
.title__container{
	padding-top: 50px;
	margin: auto;
	width: 1100px;
}
.main__title{
  text-align: left;
  font-size:30px;
  font-weight:bold;
  color: rgba(63, 63, 63, 1);
  border-bottom: 1px solid #e1e1e1;
}

.stream__address__container{
	padding-top: 20px;
	margin: auto;
	width: 1100px;
}
 
.video__container{
	padding-top: 30px;
	margin: auto;
	width: 1100px;
}

.button__container{
	text-align: left;
	padding-top: 20px;
	margin: auto;
	width: 1100px;
}

.entrance__btn--blue {
  background: linear-gradient(
    153deg,
    rgba(0, 116, 255, 1) 0%,
    rgba(81, 187, 255, 1) 100%
  );
  box-shadow: 0px 10px 14px 0px rgba(2, 117, 255, 0.2);
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  padding: 8px 20px;
  border: none;
}
.messageContainer {
  width:100%;
  height: 800px;
  text-align: center;
}

.request__font{
	text-align:left;
	font-size:15px;
	color: #333;
	font-weight: 700;
}
.request__body{
    display: block;
	text-align: left;
}
.entrance__btn--green {
  background: linear-gradient(
    153deg,
    rgba(45, 186, 194, 1) 0%,
    rgba(146, 213, 158, 1) 100%
  );
  box-shadow: 0px 10px 14px 0px rgba(55, 209, 216, 0.2);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  padding: 8px 20px;
  border: none;
}
.response__body{
    display: block;
	text-align: left;
}

.fileContainer {
  width:100%;
  height:100%;
  text-align: center;
  background: #f4f8fa;
}

.file__container{
 margin: auto;
  margin-top: 50px;
  width: 1100px;
  
}

.output__container{
	margin: auto;
	width: 1100px;
	height:350px;
}